<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="container">
<h1 class="title">My hotel booking system</h1>
<p>This is a hotel booking demo</p>

<form class="needs-validation" action="#" th:action="@{/roomsInformation/confirmBooking}" th:method="post" th:object="${bookingForm}" id="guestBookingForm" novalidate>
    <div class="mb-3">
        <label for="guestName" class="form-label">Name</label>
        <input type="text" class="form-control" id="guestName" th:field="*{name}" placeholder="Pleases Enter Your Name">
        <div class="invalid-feedback">
            Invalid Name.
        </div>
    </div>

    <div class="mb-3">
        <label for="roomNum" class="form-label">Room Number</label>
        <input th:value="${roomNum}" type="text" class="form-control " id="roomNum" th:field="*{roomNum}" placeholder="Selected room number" readonly>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" th:field="*{age}" placeholder="Pleases Enter Your Age">
        <div class="invalid-feedback">
            Invalid Age.
        </div>
    </div>

    <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <div id="gender">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="genderRadios" id="male" th:field="*{gender}" value="0">
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genderRadios" id="female" th:field="*{gender}" value="1" checked>
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="genderRadios" id="others" th:field="*{gender}" value="2">
                <label class="form-check-label" for="others">
                    Others
                </label>
            </div>
        </div>

    </div>

    <div class="mb-3">
        <label for="checkIn" class="form-label">CheckIn</label>
        <input value="${date.checkInDate}"  type="text" class="form-control " id="checkIn" th:field="*{checkInDate}" placeholder="Selected checkIn date" readonly>
    </div>

    <div class="mb-3">
        <label for="checkOut" class="form-label">CheckOut</label>
        <input value="${date.checkOutDate}" type="text" class="form-control " id="checkOut" th:field="*{checkOutDate}" placeholder="Selected checkOut date" readonly>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>

</form>

<script>
    // JavaScript for checking form if there are invalid fields
    (() => {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
        var age = document.getElementById('age').value

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                form.querySelectorAll('.form-control').forEach(function(element){
                    age = document.getElementById('age')
                    if(isNaN(age.value)){
                        age.classList.add('is-invalid')
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    if(element.value.length == 0){
                        element.classList.add('is-invalid')
                        event.preventDefault()
                        event.stopPropagation()
                    } else {
                        element.classList.remove('is-invalid')
                        element.classList.add('is-valid')
                    }
                })
            }, false)
        })
    })()
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>