*{
    box-sizing: border-box;
}

.room_content{
    position: fixed;
    inset: 0;
    margin: auto;
    width: 0;
    height: 0;
    background-color: cadetblue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
}

.check_detail_btn{
    /*display: flex;*/
    /*flex-direction: row;*/
    z-index: 2;
}

#book{
    /*display: none;*/
}

.card.active #book{
    /*display: block;*/
    /*margin-left: 600px;*/
}

.card.active .room_content{
    padding: 50px;
    width: 800px;
    height: 400px;
    opacity: 1;
    transform: scale(1);
}

.card.active{
    border: none;
}

.card.active .card_content{
    display: none;
}
.card.active .check_detail_btn{
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 30%;*/

    /*transform: translateY(230px);*/
    display: none;
}

.card.active #check_detail{
    background-color: darkred;
    border: darkred;
    content: none;
}